form {
    margin-top: 20px;
}

.map {
    height: 390px;
}

.bottomSection {
    padding: 0 20px;
}

#pagination {
    padding: 0 10px;
}

thead tr{
    background-color: #3988CC !important;
    font-weight: bold;
    color: white;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #d0d0d0 !important;
}

td:nth-child(1) {
    width: 3%;
}

td:nth-child(2) {
    width: 62%;
}

td:nth-child(3) {
    width: 35%;
}

@media (max-width: 991px) {
    .map {
        max-height: 60vh;
    }
    .bottomSection {
        padding: 0;
    }
}
